/* Outras propriedades de estilo comuns para body e fieldset */
body {
    font-family: "Calibri", Arial, sans-serif; font-size: 12px;
}

/* Define um estilo para todos os elementos <input> com a classe "larger-input" */
input.larger-input {
    width: 300px; /* Largura do campo de entrada */
    padding: 8px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda com cor cinza */
    border-radius: 4px; /* Cantos arredondados */
    font-size: 12px; /* Tamanho da fonte */
}

/* Define um estilo para todos os elementos <input> com a classe "cpf-input", "short-input" e "select.sexo */
input.short-input, input.mid-input, select.sexo {
    /* Defina as propriedades de estilo desejadas */
    width: 95px; /* Largura do campo de entrada */
    padding: 8px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda com cor cinza */
    border-radius: 4px; /* Cantos arredondados */
    font-size: 12px; /* Tamanho da fonte */
}

input.mini-input {
    width: 70px; /* Largura do campo de entrada */
    padding: 8px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda com cor cinza */
    border-radius: 4px; /* Cantos arredondados */
    font-size: 12px; /* Tamanho da fonte */
}

/* Defina um estilo para todos os elementos <label> */
label {
    display: inline-block; /* Permite definir largura e alinhar verticalmente */
    width: 150px; /* Largura fixa para os rótulos */
    text-align: right; /* Alinha o texto à direita dentro dos rótulos */
    margin-right: 5px; /* Adicione margem à direita para espaço */
}
/* Estilo para os rótulos dos botões de rádio */
label.radio-label {
    display: inline-block;
    width: 100px; /* Largura fixa para os rótulos dos botões de rádio */
    text-align: right; /* Alinha o texto à direita dentro dos rótulos */
    margin-right: 10px; /* Adicione margem à direita para espaço */
}

/* Estilo para os botões de rádio */
input[type="radio"] {
    vertical-align: middle; /* Alinha verticalmente com o rótulo */
}
/* Estilo para os botões do formulário */
button {
    padding: 10px 20px; /* Adicione espaço interno aos botões */
    background-color: #0077cc; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remova as bordas */
    border-radius: 4px; /* Cantos arredondados */
    cursor: pointer; /* Mude o cursor para indicar que é clicável */
}

/* Estilo para o botão "Limpar formulário" */
button[type="reset"] {
    background-color: #cc0000; /* Cor de fundo diferente para o botão "Limpar formulário" */
}

/* Estilize o botão quando o cursor estiver sobre ele */
button:hover {
    background-color: #0055aa; /* Altere a cor de fundo quando o cursor estiver sobre o botão */
}

/* Teste CSS*/
#p_teste {
	text-align: center;
	background-color: black;
	color: orange;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}

#tit_modulo {
	text-align: center;
	background-color: blue;
	color: white;
	font-size: 30px;
}

p {
	text-align: left;
	font-size: 16px;
}

header {
	text-align: center;
}

hr {
	width: 100%;
	height: 1px;
	background-color: black;
}

table {
    font-family: Calibri, Arial;
	border-spacing: 1px;
    width: 100%;
	overflow: hidden;
    border-radius: 10px; /* Arredondar cantos da tabela */
    box-shadow: 0 10px 20px rgba(12, 24, 157, 0.7); /* Adicionar sombra */
}

thead {
    background-color: #214376;
    color: #ffffff;
}

td, th {
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #c0cfe4;
}

/* Estilize o contêiner do acordeão */
.accordion-item {
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
	background-color: #C3D4DA;
}

/* Oculte o checkbox */
input[type=checkbox] {
  display: none;
}

/* Estilize o rótulo */
label.accordion {
  display: block;
  background-color: #214376;
  padding: 10px;
  cursor: pointer;
  width: 98%;
  text-align: left;
  color: white;
  font-weight: bold;
}

/* Oculte o conteúdo por padrão */
.content {
  display: none;
  padding: 8px;
  background-color: #fff;
  width: 98%;
  border: 1px solid #ddd;  
  color: black;
}

/* Exiba o conteúdo quando o checkbox correspondente estiver marcado */
input[type=checkbox]:checked ~ .content {
  display: block;
}
